{% extends 'base.html.jinja' %}
{% block title %}
    login
{% endblock %}

{% block content %}

<div class="uk-cover-container uk-background-cover uk-flex uk-flex-center uk-flex-middle uk-height-viewport">
    <div class="uk-align-center uk-text-center" style="margin-top: -200px;">

        <h1>Logout: succes</h1>

    </div>
</div>


{% endblock %}
