<!DOCTYPE html>
<html lang="ru">

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/uikit.css">
</head>

<body style="font-family: Arial, Tahoma, sans-serif">

    <nav class="uk-navbar-container uk-margin uk-container uk-container-expand" uk-navbar>
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="/">Auth fastAPI</a>
            <ul class="uk-navbar-nav">

                <li>
                    <a href="{{ url_for('login_page') }}">
                        login
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('register_page') }}">
                        register
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">
                        logout
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('test') }}">
                        test
                    </a>
                </li>

            </ul>
        </div>
    </nav>
    <main class="uk-container uk-container-expand">
        <div class="uk-container uk-container-expand uk-margin">
            {% block breadcrumps %} {% endblock %}
        </div>
        <div class="content" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 50">
            <div>
                {% block content %}{% endblock %}
            </div>
    </main>
    <footer class="uk-container uk-container-expand uk-margin-top uk-background-muted">
        <div class="uk-margin-top">
            <p>
               Auth fastAPI
            </p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.17/dist/js/uikit.min.js"></script>
</body>

</html>