<!DOCTYPE html>
<html lang="ru">

<head>
    <title>{% block title %} {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.17/dist/css/uikit.min.css" />
</head>

<body>
    <!-- <header>
    </header> -->
    <nav class="uk-navbar-container uk-margin uk-container uk-container-expand" uk-navbar>
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="/">Реестр Синергия</a>
            <ul class="uk-navbar-nav">
                
                <!-- <li>
                    <a href="#">
                        Контакты
                    </a>
                </li> -->
            </ul>
            <!-- <div class="uk-navbar-item">
                <form action="javascript:void(0)">
                    <input class="uk-input uk-form-width-small" type="text" placeholder="Поиск">
                    <button class="uk-button uk-button-default">Отправить</button>
                </form>
            </div> -->
        </div>
    </nav>
    <main class="uk-container uk-container-expand">
